/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}
.ngx-select__toggle.btn.form-control {
    background: transparent;
    position: absolute;
    top: -10px;
    border: none;
}
.ngx-select.dropdown {
    position: absolute;
    width: 100%;
    background: transparent;
    border: none;
    top: 12px;
    left: 0px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #8c0c04;
}
.ngx-select__toggle:hover {
    color: #333;
    background-color: transparent !important;
    border-color: #adadad;
}
.ngx-select__item_active{
    background-color: #8c0c04 !important;
}
.form-control span.ngx-select__selected-single {
    font-size: 14px;
}